body {
  background: #BCEDF6;
}

.chart div {
  font: 10px sans-serif;
  background-color:#104547;
  text-align: right;
  padding: 2rem;
  margin: 1px;
  color: #FF99C9;
  border-radius: 1.5px;
  font-size: 1rem;
}
